@page "/"

@using ElasticsearchCodeSearch.Client.Components
@using ElasticsearchCodeSearch.Client.Components.Pagination
@using ElasticsearchCodeSearch.Client.Components.SearchResult
@using ElasticsearchCodeSearch.Client.Extensions;
@using ElasticsearchCodeSearch.Client.Infrastructure;
@using ElasticsearchCodeSearch.Shared.Dto;

<PageTitle>Elasticsearch Code Search Experiments</PageTitle>

<div class="search-container">
    <div class="search-header">
        <div class="search-title">
            <h1>Elasticsearch Code Search</h1>
        </div>
        <div class="search-box">
            <FluentSearch @bind-Value="QueryString" @onkeyup="@EnterSubmit" Class="w-100" />
            <FluentButton @onclick=@QueryAsync>Search</FluentButton>
            <FluentSelect   
                Items="@SortOptions"
                OptionText="@(i => i.Text)"
                OptionValue="@(i => i.Value)"
                OptionSelected="@(i => i.Selected)"
                @bind-SelectedOption="@SelectedSortOption">
            </FluentSelect>
        </div>
    </div>
    <div class="search-results">
        <div class="search-results-total">
            <p>@TotalItemCount Documents found</p>
        </div>
        <div class="search-result-items">
            @foreach(var searchResult in CodeSearchResults)
            {
                <SearchResult 
                    Owner="@searchResult.Owner"
                    Repository="@searchResult.Repository"
                    Filename="@searchResult.Filename"
                    Permalink="@searchResult.Permalink"
                    Matches="@searchResult.Matches"></SearchResult>
            }
        </div>
    </div>
    <div class="search-paginator">
        <Paginator State="@Pagination"></Paginator>
    </div>
    <div class="search-footer">
        <p>Elasticsearch Code Search</p>
    </div>

</div>